<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kuchuan.wisdompolice">

    <!--开机自启权限-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    
	<application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
		
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:name="com.itheima.boot.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--接收开机启动的广播-->
        <receiver
            android:name=".BroadcastReceiver.MyBootReceiver"
            android:enabled="true"//好像可以不写
            android:exported="true">//好像可以不写
			
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>