<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kuchuan.education">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 获取IMEI -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.impl.activity.LoginActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.impl.activity.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.impl.activity.RegisterActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.impl.activity.SearchActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.impl.activity.DetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.impl.activity.CommentActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.impl.activity.InstructionActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.impl.activity.WebPageActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.impl.activity.APKManagerActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.impl.activity.BigPhotosActivity"
            android:screenOrientation="portrait">
        </activity>

        <receiver android:name=".receiver.AppInstallReceiver" >
            <intent-filter>
                <!---->
                <action android:name="android.intent.action.PACKAGE_INSTALL"/>
                <!-- 一个新应用包已经安装在设备上，数据包括包名（监听所在的app，新安装时，不能接收到这个广播） -->
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <!-- 一个新版本的应用安装到设备，替换之前已经存在的版本  替换时会先收到卸载的再收到替换的， 替换自身也能收到-->
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <!-- 一个已存在的应用程序包已经从设备上移除，包括包名（卸载监听所在的app，则无法接收到） -->
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>